.nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.list{
  display: flex;
  gap: 50px;
  list-style: none;
}

.btn-login{
  padding: 10px 15px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
}

.btn-login{
  padding: 10px 15px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
}


.btn-signup{
  padding: 10px 28px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
}

.btn-login:hover{
  background-color: black;
  color: white
}
.btn-signup:hover{
  background-color: orange;
  border-color: orange;
}