* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.main {
    margin: 20px;
    padding-left: 10px;
    max-width: 1400px;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.logo {
    height: 60px;
}

.heading-text {
    font-size: 30px;
    font-weight: 600;
}

.form-wrapper {
    max-width: 610px;
}

.illustration {
    max-width: 790px;
    position: relative;
}

.line-1 {
    position: relative;
    top: -43px;
    left: 146px;
    width: 69%;
}

.main-illustration {
    width: 85%;
    z-index: -1;
    position: relative;
    left: 115px;
    bottom: 45px;
}


.input-space {
    width: 100%;
    height: 40px;
    border: 1px solid #b9b6b1;
    border-radius: 5px;
    padding: 0 20px;
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
}

.label-form {
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    top: 7px;
    left: 17px;
    position: relative;
    color: grey;
    padding: 2px 6px;
}

.login-submit {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    border: none;
}

.login-submit:hover {
    background-color: orange;
}


.check-agreement {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.check-agreement input {
    margin-right: 5px;
}

.forgot-pass{
    padding-top: 20px;
}

.line_illustration {
    width: 230px;
    position: relative;
    top: 22px;
    right: 200px;
}
select.input-space {
    color: grey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="%23b9b6b1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-color: #fff;
    padding-right: 40px; /* Adjust to make room for the arrow */
}
    


@media (min-width: 1440px) {
    .main{
     align-items: center;
    }
    .line-1{
     display: none;
    }
 }