@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./assets/fonts/Gilroy/Gilroy-Regular'),
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./assets/fonts/Gilroy/Gilroy-SemiBold.ttf'),
}


:root {
    --orange: #F59839;
    --blue: #2C75FF;
    --white: #FEFEFE;
    --black: #000000;
}

html {
    box-sizing: border-box;
}

body{
   
    margin: 0 auto !important;
    overflow-y: auto !important;
}

html {
    touch-action: auto;
    overflow-y: auto !important;
  }
  
li a{
    font-family: Gilroy-Semibold;
}

#root{
    margin: 0 auto;
    max-width: 1400px;
}

h1,h2,h3,h4,h6{
    color: black !important;
}



/* Create Quiz CSS */

.quiz-create-form{
    font-family: sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin: 50px auto;
    color: var(--black)
  }
  
  .quiz-setting-h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 26px;
  }
  .quiz-setting-h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .quiz-setting-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 550px;
    line-height: 1.4;
}

  
  .quiz-form{
    width: 700px;
    /* background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(177, 177, 177, 0.25); */
    
  }

  .quiz-title-description{
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 17px rgba(145, 145, 145, 0.3);
    /* box-shadow: 0px 0px 15px rgba(177, 177, 177, 0.25); */
    border-radius: 15px;
    padding: 20px 50px 40px;
  }

  .question-form-main{
    width: 700px;
    
  }
  .question-form{
  margin-bottom: 20px;
      background: #FFFFFF;
      box-shadow: 0px 0px 17px rgba(145, 145, 145, 0.3);
      /* box-shadow: 0px 0px 15px rgba(177, 177, 177, 0.25); */
      border-radius: 15px;
      padding: 20px 50px 40px;
  }


  
.title-question{  
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 100%;
  margin-top: 5px;
  padding-left: 5px;
  /* border-radius: 5px; */
  border-bottom: 1px solid #b9b6b1;
  font-size: 20px;
}

.title-question:focus-visible, .test-div:focus-visible, .option-outline:focus-visible, .set-marks:focus-visible{
outline: none;
border-bottom: 1px solid #000000;
}




.option-outline{
  width: 93%;
border-bottom: 1px solid #b9b6b1;
padding-left: 10px;
font-size: 18px;
}
.test-div{  
border-top: transparent;
border-left: transparent;
border-right: transparent;
width: 100%;
margin-top: 5px;
padding-left: 5px;
/* border-radius: 5px; */
}

.isAnswer > input{
appearance: none;
position: relative;
top: 4px;
right: 6px;
height: 20px;
width: 20px;
border: 1px solid black;
border-radius: 3px
}

.isAnswer > input:checked {

border-color: #24B787;
content: ''; /* Optional: Add custom checked icon (pseudo-element approach) */
}

.isAnswer > input:checked::before {
content: '✓'; /* Checkmark symbol */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #24B787;
font-size: 14px;
}

.remove-option{
position: relative;
right: 40px;
bottom: 2px;

}

.remove-option:hover{
opacity:0.9;
}

.add-option{
  background: none;
  display: inline-flex;
  border: none;
  text-decoration: underline;
}


.separator{
  width: 95%;
    border: 1px solid;
    margin-top: 60px;
}


.question-functions{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.set-marks-title{
  width: 85%;
}
.set-marks{
  border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 8%;
    border-bottom: 1px solid #b9b6b1;
    font-size: 18px;
    margin-left: 10px;
  padding-left: 7px;
}
.remove-question{
  width: 15%;
}

.add-question-preview{
  display: flex;
 justify-content: space-between;
  margin-top: 40px;
  padding: 0px 10px;
}

.add-question-preview > button{
  border-radius: 10px;
  height:40px;
  width: 200px;
 font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: #2C75FF;
  color:white;
}

.add-question-preview > button:hover{
  background-color:#2c75ffcc;
}
  
  .title-label, .description-label{
    display:block;
    font-size:20px;
    font-weight: 600;
  }
  
  .checkboxes{
    padding:20px 0px;
    display:flex;
    gap: 90px;
    font-weight: 600;
  }
  
  button{
    display:block;
  }
  
  .title, .description{
    padding-top: 40px;
  }
  
  .title-input, .description-input{
    height:30px;
    font-size: 20px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 100%;
    margin-top: 5px;
    padding-left: 5px;
    /* border-radius: 5px; */
    border-bottom: 1px solid #b9b6b1;
  }

  .title-input:focus-visible, .title-input:focus, .description-input:focus-visible{
    outline: none;
    border-bottom: 1px solid #000000;
  }
/*   
  .title-input{
    height:30px;
    padding-left: 5px;
  }
  .description-input{
    height:50px;
    padding-left: 5px;
   
  }
   */
  .btn-quiz-setting{
    width:100%;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
    display: block;
      margin: 0 auto;
  }
  .isPublic, .attempts, .shuffle{
    gap: 10px;
    display: flex;

  }

  .line-quiz{
    display: block;
    margin: 0 auto;
  }

  .thank-you-card{
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
.thank-you-card h1{
  font-weight: 800;
  padding-bottom: 20px;
}

body{
  margin: 100px 100px;
}

.added-question-main{
  width: 700px;
   font-size: 20px;
  
}
.added-question-card{
margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 17px rgba(145, 145, 145, 0.3);
    /* box-shadow: 0px 0px 15px rgba(177, 177, 177, 0.25); */
  border-radius: 15px;
    padding: 20px 50px 40px;
}


.title-questionAdded{  
    width: 100%;
    margin-top: 5px;
  margin-bottom: 10px;
}

.option-list-ol > li{
 margin: 10px auto; 
}


.question-functions{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}



.add-question-preview > button{
  border-radius: 10px;
  height:40px;
  width: 200px;
 font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: #2C75FF;
  color:white;
}

.add-question-preview > button:hover{
  background-color:#2c75ffcc;
}

.add-question-preview{
  display: flex;
  justify-content:space-between;
  margin-top: 20px;
}

.saving-quiz{
  margin-top: 20px;
}

.response-body{
  display: flex;
  justify-content: center;
  margin:  50px 0px 100px;
}

.report-questionnaire{

  font-size: 16px;
  color: grey;
  text-align: center;
}

.report-questionnaire p{
  margin-bottom: 5px;
}

.report-questionnaire a{
  text-decoration: underline;
  color: grey;
}

.attempt-question-title{
    font-weight: 600;
    font-size: 20px;
}

.submit-attempt-btn{
  border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: #2C75FF;
    color: white;
}

.clear-attempt-btn{
  color: grey;
  text-decoration: underline;
  background-color: inherit;
  border:none;
}
.submit-clear-btn{
  display: flex;
  justify-content: space-between;
}

.option-attempt{
  align-items: center;
}

.option-attempt > p{
  margin: 0;
}