@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./assets/fonts/Gilroy/Gilroy-Regular'),
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./assets/fonts/Gilroy/Gilroy-SemiBold.ttf'),
}


:root {
    --orange: #F59839;
    --blue: #2C75FF;
    --white: #FEFEFE;
    --black: #000000;
}

html {
    box-sizing: border-box;
}

body{
   
    margin: 0 auto !important;
    overflow-y: auto !important;
}

html {
    touch-action: auto;
    overflow-y: auto !important;
  }
  
li a{
    font-family: Gilroy-Semibold;
}

#root{
    margin: 0 auto;
    max-width: 1400px;
}

h1,h2,h3,h4,h6{
    color: black !important;
}