

.hero-home{
    background-image: url('../../assets/images/Bg.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shape-container {
    /* position: relative; */
    /* bottom: 400px;
    z-index: 0; */
}

.shape1, .shape2{
    position: absolute;
    top: 25%;
    width: 10%;
}

.shape1{

    left: -50px;
}
.shape2{
    right: -50px;
}
.heading-home{
    align-items:center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 100px;
    color: black;
  }
  
  .heading-home-text{
    max-width: 1050px;
    text-align:center;
    margin-bottom:0;
    
    font-size: 70px;
  }
  
  .home-line{
    width: 500px;
  }

.home-description{
    margin-top: 15px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.75);
    width: 760px;
    text-align: center;
}

.home-button{
    margin-top: 10px;
    padding: 20px 60px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.home-button:hover{
    background-color: orange;
    color: white;
}

.home-illustration{
    margin: -65px auto 65px auto;}



    .get-started{
        display: flex;
        justify-content: center;
        margin: 160px auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .get-started-heading{
        display: flex;
        flex-direction: column;
        font-size: 50px;
        
    }

    .get-started-btn{
        /* width: 18%; */
    }



    .about-heading{
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        align-items: center;
    }
    .about-heading-text{
        font-size: 50px;
        

    }
    .about-heading-text > span > img{
        margin: 0 auto;
        display: block;
    }

    .about-description{font-size: 22px;}
  
    .solutions{
        margin: 60px 100px;
    }

    .solution-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    
    }
    .solution-title{
        font-size: 16px;
        margin-bottom: 4px;
    }

    .solution-text{
        font-size: 52px;
        
        /* width: 90%; */
    }

    .solution-description{
        font-size: 22px;
        text-align: justify;
        
    }

    .solution-cards{
        display: grid;
        justify-content: center;
        gap: 100px;
        grid-template-columns: 330px 330px 330px;
        grid-template-rows: 225px 225px;
        margin-top: 50px;
    }
    
.know-more{
    background-color: #2C75FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    
    font-size: 27px !important;}


    .know-more h5{
        max-width: 230px;
    }

.solution-btn {
    padding: 10px 60px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
}

.feature-heading{
    font-weight: 600;
}

.about-us-container{
    margin-top: 70px;
    margin-bottom: 70px;
}


@media (max-width: 600px){

    body{
        width: 100%;
        padding: 0px 5px !important;
    }
    .heading-home-text, .quiz-setting-h1,     .heading-resources-text{
        font-size: 30px !important;
    }
    .home-line{
        width: 230px;
    }
    .home-description{
        font-size: 18px;
        text-align: center;
        margin: 30px auto;
    }
    
    .home-button{
        padding: 15px 40px;
        font-size: 15px;
    }

    .home-illustration{
        max-width: 100%;
        display: block;
    }

    .about-heading{
        display: block;
    }
    .solutions{
        margin: 20px;
    }
    
    .solution-heading{
        flex-wrap: wrap ;
        margin-bottom: 50px;
        text-align: center;
    }

    .solution-title{
        font-size: 14px;
    }

    .solution-text{
        font-size: 30px;
    }
    .solution-description{
        font-size: 16px;
        padding-top: 4px;
        text-align: center;
    }

    .solution-cards{
        display: block;
        margin-top: -50px;
    }

    .solution-card{
        padding-top: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .know-more{
        padding: 36px;
        margin: 40px auto;
    }

    .resources-bg{
        display: flex !important;
        flex-direction: column;
        text-align: center;
        width: 100% !important;
        /* position: static !important; */
    }

    .resources-heading{
        width: 100% !important;
        font-size: 30px !important;
        padding: 3px;
    }

    .resources-heading > span > img {
        width: 160px !important;
        }

    .resources-btn{
        width: auto !important;
    }

    .about-us-container{
        margin: 20px;
    }
    .about-heading-text {
        font-size: 30px;
    }

    .about-us-illustration > img{
        margin-top: 20px;
        display: block;
        width: 100%;
    }

    .testimonials{
        display: flex !important;
        flex-direction: column;
        text-align: center;
        width: 100% !important;
        position: static !important;
    }
    .testimonial-cards{
        display: block !important;
    }

    
    .testimonial-heading > h1{

        font-size: 30px !important;
    }

    .testimonial-heading > img, .line-quiz{
        width: 200px;
    }
    .get-started{
        margin: 60px auto !important;

    }

    .get-started-heading{
        font-size: 30px !important;
    }
    .get-started-heading > span > img{
        width: 275px;
    }

    .get-started-btn{
        width: 100% !important;
    }

    .testimonial-shape-container, .shape-container{
        display: none;
    }

    .filter-popup{
        width: 90% !important;
    }

    .alphabet{
        margin: 10px auto !important;
    }

    .filter-popup .alphabet {
        padding: 0px;
        margin: 0px;
    }

    .logo{
        height: 50px;
    }

    .logo > a > img{
        height: 50px;
    }

    .clear-attempt-btn{
        font-size: 15px;
    }

    .submit-attempt-btn {
        width: 150px;
    font-size: 16px;
    }
}