.hero-home{
    background-image: url('../../assets/images/Bg.png');
    background-position: center;
}
.shape-container {
    position: relative;
    bottom: 400px;
    z-index: 0;
}

.shape1, .shape2{
    position: absolute;
    top: 25%;
    width: 10%;
}

.shape1{

    left: -50px;
}
.shape2{
    right: -50px;
}
.heading-home{
    align-items:center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 100px;
    color: black;
  }
  
  .heading-home-text{
    max-width: 1100px;
    text-align:center;
    margin-bottom:0;
    font-weight: 800;
    font-size: 70px;
  }
  
  .home-line{
    width: 500px;
  }

.home-description{
    margin-top: 15px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.75)
}

.home-button{
    margin-top: 10px;
    padding: 20px 60px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.home-button:hover{
    background-color: orange;
    color: white;
}

.home-illustration{
    margin: -65px auto 65px auto;}



    .get-started{
        display: flex;
        justify-content: center;
        margin: 160px auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .get-started-heading{
        display: flex;
        flex-direction: column;
        font-size: 50px;
        font-weight: 800;
    }

    .get-started-btn{
        width: 18%;
    }



    .about-heading{
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        align-items: center;
    }
    .about-heading-text{
        font-size: 50px;
        display: flex;
        flex-direction: column ;
        font-weight: 800;

    }

  
    .solutions{
        margin: 60px 50px;
    }

    .solution-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .solution-title{
        font-size: 16px;
        margin-bottom: 4px;
    }

    .solution-text{
        font-size: 52px;
        font-weight: 800;
        width: 90%;
    }

    .solution-description{
        font-size: 22px;
        text-align: justify;
    }

    .solution-cards{
        display: grid;
        justify-content: center;
        gap: 100px;
        grid-template-columns: 330px 330px 330px;
        grid-template-rows: 225px 225px;
        margin-top: 50px;
    }
    
