  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 17px;
  }
  
  .logo img {
    height: 60px;
  }
  
  .user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .admin-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
  }

  .list {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-decoration: none;

  }
  
  .cta {
    display: flex;
    gap: 10px;
  }
  
  .btn-login {
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 17px;
    font-family: Gilroy-Semibold;
  }
.btn-login a{
    text-decoration: none;  
    color: inherit
}

.btn-signup a{
    text-decoration: none;
    color: inherit
}
  .btn-login:hover {
    background-color:black;
    color: white;
  }
  
  .btn-signup {
      padding: 10px 20px;
      border: 2px solid black;
      border-radius: 5px;
      background-color: orange;
      font-size: 17px;
      font-family: Gilroy-Semibold;
    }
    
    .btn-signup:hover {
      background-color:orange;
    }

  .list a{
    text-decoration: none;
    color: black;
  }

.user-profile{
  height: 70px;
  width: 70px;
  background: url(https://s.pinimg.com/webapp/left-ccce7532.png);
  background-size: cover;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}


  /* Mobile styles */
@media (max-width: 768px) {
  /* Hide the navigation links initially */
  .list {
    display: none !important; /* Hide navigation links by default */
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 70px; /* Adjust this based on your design */
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    border-radius: 8px;
  }

  /* Show navigation links when hamburger is clicked */
  .list.active{
    display: flex !important;
  }
  /* Show the hamburger menu */
  .hamburger {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/menu--v1.png');
    display: flex;
    background-color: orange;
    height: 50px;
    width: 50px;
  }

  /* Adjust CTA buttons for mobile */
  .cta {
    display: none;
  }
}


